@use "./../variables.scss" as var;

.about-gpt3 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6.4375rem 0;
    padding: 3.1825rem;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &__info {
        width: 100%;

        .solution {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 100%;

            &__title {
                min-width: 160px;
                flex: 1;
            }

            &__text {
                flex: 3;
                max-width: 700px;
                margin: 0;
            }
        }
    }

    &__title-container,
    &__solutions-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        flex: 2;
        margin: 5.625rem 0;

        h2 {
            margin: 0;
        }
    }

    &__link {
        flex: 1;
        text-align: end;
        align-self: center;
        cursor: pointer;
    }
}

@media screen and (max-width: 65.625rem) { // 1050px
    .about-gpt3 {

        &__info {
            .solution {
                flex-direction: column;
                margin: 0;
            }
        }

        &__title-container,
        &__solutions-container {
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
        }

        &__title {
            margin: 4.5rem 0;
        }

        &__link {
            text-align: end;
            align-self: flex-start;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 46.875rem) { // 750px
    .about-gpt3 {
        margin: 4rem 0;
        
        &__solutions-container {
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
        }

        &__title {
            margin: 2.5rem 0;
        }
    }
}

@media screen and (max-width: 34.375rem) { // 550px
    .about-gpt3 {
        padding: 2rem;
    }
}