@use "./../variables.scss" as var;

.blog {
    &__articles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 6rem 0;
        flex-wrap: wrap;
    }

    .articles {
        &__featured {
            flex: 0.75;
            margin-right: 2rem;
        }

        &__list {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;

        }
    }
}