@use "./../variables.scss" as var;

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        max-width: 8.125rem;
        margin: 0.5rem;

        img {
            height: 1.5rem;
        }
    }

    @media screen and (max-width: 65.625rem) {
        margin: 4rem 0;
    }
}