@use "./../variables.scss" as var;

.footer {
    background-color: var.$color-footer;

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title h2 {
        margin: 10.938rem 8rem 4rem;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10.938rem 2rem 5.1875rem;
    }

    &__logo {
        flex: 1;

        .text--smallest {
            max-width: 170px;
            margin-top: 1.6rem;
            font-family: var.$font-family-secondary;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        flex: 1.5;
        flex-wrap: wrap;

        .nav__list {
            flex: 1;
            min-width: 110px;

            .list__title {
                font-family: var.$font-family-secondary--bold;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            font-family: var.$font-family-secondary;

            li {
                margin: 1.6rem 0;
            }
        }
    }

    &__copyright {
        font-family: var.$font-family-secondary;
        padding: 0 0 1.6875rem;
    }

    .cta {
        &__link {
            background: none;
            border: 1px solid var.$color-white;
            border-radius: 0;
            padding: 1rem 2rem;
            max-width: max-content;
            font-size: 18px;
            line-height: 21px;
        }
    }
}

@media screen and (max-width: 1050px) {
    .footer {
        flex-direction: column;

        &__title h2,
        &__content {
            margin: 4rem 0;
        }
    }
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;

        .cta {
            &__link {
                font-size: 16px;
                line-height: 18px;
            }
        }

        &__copyright {
            margin-top: 4rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .footer {
        &__heading {
            margin: 0 0 4rem;
        }

        &__content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .text--smallest {
                margin-top: 1rem;
            }
        }

        &__nav {
            margin-top: 3rem;
        }

        &__copyright {
            margin-top: 2rem;
        }
    }
}