@use "_variables.scss" as var;

.container {
    &--xl {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
    }
}

.image {
    &__container {
        position: relative;
        width: 100%;
    }
}

.bg {
    &__main {
        background-color: var.$color-footer;
    }

    &__gradient {
        &--primary {
            /* ff 3.6+ */
            background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* safari 5.1+,chrome 10+ */
            background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* opera 11.10+ */
            background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* ie 10+ */
            background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* global 92%+ browsers support */
            background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
        }

        &--secondary {
            background: rgb(15,65,119);
            background: -moz-linear-gradient(150deg, rgba(15,65,119,1) 0%, rgba(4,44,84,1) 17%, rgba(4,44,84,1) 41%, rgba(7,53,100,1) 77%, rgba(14,76,143,1) 90%, rgba(25,115,213,1) 100%);
            background: -webkit-linear-gradient(150deg, rgba(15,65,119,1) 0%, rgba(4,44,84,1) 17%, rgba(4,44,84,1) 41%, rgba(7,53,100,1) 77%, rgba(14,76,143,1) 90%, rgba(25,115,213,1) 100%);
            background: linear-gradient(150deg, rgba(15,65,119,1) 0%, rgba(4,44,84,1) 17%, rgba(4,44,84,1) 41%, rgba(7,53,100,1) 77%, rgba(14,76,143,1) 90%, rgba(25,115,213,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f4177",endColorstr="#1973d5",GradientType=1);
        }
    }
}

.section {
    &__padding {
        padding: 4rem 6rem;
    }

    &__margin {
        margin: 4rem 6rem;
    }
}

.text {
    &--blue {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: var.$color-text;
    }

    &--light-blue {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: var.$color-light-blue;
    }

    &--orange {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: var.$color-subtext;
    }

    &--white {
        font-family: var.$font-family;
        font-style: normal;
        color: var.$color-white;
    }

    &--light-black {
        font-family: var.$font-family;
        font-style: normal;
        color: var.$color-light-black;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
    }

    &--black {
        font-family: var.$font-family;
        font-style: normal;
        color: var.$color-black;
        font-weight: 800;
        font-size: 24px;
        line-height: 45px;
    }

    &--gradient {
        background: var.$gradient-text;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &--bold {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 800;
    }

    &--title {
        font-size: 62px;
        line-height: 75px;
        letter-spacing: -0.04em;
    }

    &--small {
        font-size: 14px;
        line-height: 16px;
    }

    &--smallest {
        font-size: 12px;
        line-height: 14px;
    }

    &--center {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .section {
        &__padding {
            padding: 4rem;
        }

        &__margin {
            margin: 4rem;
        }
    }

    .text {
        &--title {
            font-size: 45px;
            line-height: 50px;
        }
    }
}

@media screen and (max-width: 550px) {
    .section {
        &__padding {
            padding: 4rem 2rem;
        }

        &__margin {
            margin: 4rem 2rem;
        }
    }
}