@use "_variables.scss" as var;

.container {
    &--xl {
        max-width: 73.125rem;
        margin-right: auto;
        margin-left: auto;
    }
}

.image {
    &__container {
        position: relative;
        width: 100%;
    }
}

.bg {
    &__main {
        background-color: var.$color-footer;
    }

    &__gradient {
        &--primary {
            /* ff 3.6+ */
            background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* safari 5.1+,chrome 10+ */
            background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* opera 11.10+ */
            background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* ie 10+ */
            background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* global 92%+ browsers support */
            background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
        }

        &--secondary {
            background: rgb(15, 65, 119);
            background: -moz-linear-gradient(150deg, rgba(15, 65, 119, 1) 0%, rgba(4, 44, 84, 1) 17%, rgba(4, 44, 84, 1) 41%, rgba(7, 53, 100, 1) 77%, rgba(14, 76, 143, 1) 90%, rgba(25, 115, 213, 1) 100%);
            background: -webkit-linear-gradient(150deg, rgba(15, 65, 119, 1) 0%, rgba(4, 44, 84, 1) 17%, rgba(4, 44, 84, 1) 41%, rgba(7, 53, 100, 1) 77%, rgba(14, 76, 143, 1) 90%, rgba(25, 115, 213, 1) 100%);
            background: linear-gradient(150deg, rgba(15, 65, 119, 1) 0%, rgba(4, 44, 84, 1) 17%, rgba(4, 44, 84, 1) 41%, rgba(7, 53, 100, 1) 77%, rgba(14, 76, 143, 1) 90%, rgba(25, 115, 213, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f4177", endColorstr="#1973d5", GradientType=1);
        }
    }
}

.section {
    &__padding {
        padding: 4rem 6rem;
    }

    &__margin {
        margin: 4rem 6rem;
    }
}

.text {
    &--blue {
        color: var.$color-text;
    }

    &--light-blue {
        color: var.$color-light-blue;
    }

    &--orange {
        color: var.$color-subtext;
    }

    &--white {
        color: var.$color-white;
    }

    &--light-black {
        color: var.$color-light-black;
    }

    &--black {
        color: var.$color-black;
    }

    &--gradient {
        background: var.$gradient-text;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &--bolder {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 800;
    }

    &--bold {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 700;
    }

    &--normal {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 500;
    }

    &--title {
        font-size: 62px;
        line-height: 75px;
        letter-spacing: -0.04em;
    }

    &--bigger {
        font-size: 20px;
        line-height: 27px;
    }

    &--big {
        font-size: 18px;
        line-height: 25px;
    }

    &--small {
        font-size: 14px;
        line-height: 16px;
    }

    &--smallest {
        font-size: 12px;
        line-height: 14px;
    }

    &--center {
        text-align: center;
    }
}

@media screen and (max-width: 81.125rem) {
    .container {
        &--xl {
            margin: 0 4rem;
        }
    }

    .text {
        &--title {
            font-size: 55px;
            line-height: 65px;
        }
    }
}

@media screen and (max-width: 700px) {
    .section {
        &__padding {
            padding: 4rem;
        }

        &__margin {
            margin: 4rem;
        }
    }

    .text {
        &--title {
            font-size: 45px;
            line-height: 50px;
        }
    
        &--bigger {
            font-size: 18px;
            line-height: 25px;
        }
    
        &--big {
            font-size: 16px;
            line-height: 22px;
        }
    
        &--small {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

@media screen and (max-width: 550px) {
    .container {
        &--xl {
            margin: 0 2rem;
        }
    }

    .section {
        &__padding {
            padding: 4rem 2rem;
        }

        &__margin {
            margin: 4rem 2rem;
        }
    }

    .text {
        &--title {
            font-size: 40px;
            line-height: 45px;
        }
    
        &--bigger {
            font-size: 16px;
            line-height: 22px;
        }
    
        &--big {
            font-size: 14px;
            line-height: 20px;
        }
    }
}