@use "_variables.scss" as var;

.bg {
    &__gradient {
        &--primary {
            /* ff 3.6+ */
            background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* safari 5.1+,chrome 10+ */
            background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* opera 11.10+ */
            background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* ie 10+ */
            background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

            /* global 92%+ browsers support */
            background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
        }

        &--secondary {
            /* ff 3.6+ */
            background: -moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

            /* safari 5.1+,chrome 10+ */
            background: -webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

            /* opera 11.10+ */
            background: -o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

            /* ie 10+ */
            background: -ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

            /* global 92%+ browsers support */
            background: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

        }
    }
}

.section {
    &__padding {
        padding: 4rem 6rem;
    }

    &__margin {
        margin: 4rem 6rem;
    }
}

.text {
    &--blue {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: var.$color-text;
    }

    &--light-blue {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: var.$color-light-blue;
    }

    &--orange {
        font-family: var.$font-family;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: var.$color-subtext;
    }

    &--white {
        font-family: var.$font-family;
        font-style: normal;
        color: var.$color-white;
    }

    &--gradient {
        background: var.$gradient-text;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media screen and (max-width: 700px) {
    .section {
        &__padding {
            padding: 4rem;
        }

        &__margin {
            margin: 4rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .section {
        &__padding {
            padding: 4rem 2rem;
        }

        &__margin {
            margin: 4rem 2rem;
        }
    }
}